# App
APP_NAME=translation-svc
APP_VERSION=1.0.0

# HTTP
HTTP_PORT=8080
HTTP_USE_PREFORK_MODE=false

# Logger
LOG_LEVEL=debug

# PostgreSQL
PG_POOL_MAX=2
PG_URL=postgres://user:password@db:5432/db

# gRPC
GRPC_PORT=8081

# RabbitMQ RPC
RMQ_RPC_SERVER=rpc_server
RMQ_RPC_CLIENT=rpc_client
RMQ_URL=amqp://guest:guest@rabbitmq:5672/

# NATS RPC
NATS_RPC_SERVER=rpc_server
NATS_URL=nats://guest:guest@nats:4222/

# Metrics
METRICS_ENABLED=true

# Swagger
SWAGGER_ENABLED=true
