# App
APP_NAME=go-clean-template
APP_VERSION=1.0.0
# HTTP settings
HTTP_PORT=8080
HTTP_USE_PREFORK_MODE=false
# Logger
LOG_LEVEL=debug
# PG
PG_POOL_MAX=2
PG_URL=postgres://user:myAwEsOm3pa55@w0rd@localhost:5432/db
# gRPC
GRPC_PORT=8081
# RMQ
RMQ_RPC_SERVER=rpc_server
RMQ_RPC_CLIENT=rpc_client
RMQ_URL=amqp://guest:guest@localhost:5672/
# NATS
NATS_RPC_SERVER=rpc_server
NATS_URL=nats://guest:guest@localhost:4222/
# Metrics
METRICS_ENABLED=true
# Swagger
SWAGGER_ENABLED=true