version: '3.9'
services:

  db:
    container_name: postgres
    image: postgres
    volumes:
      - pg-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: 'user'
      POSTGRES_PASSWORD: 'pass'
      POSTGRES_DB: 'postgres'
    ports:
      - 5432:5432

  app:
    build: .
    container_name: app
    image: app
    env_file:
      - .env
    environment:
      GOT_PG_URL: 'postgres://user:pass@db:5432/postgres'
    ports:
      - 8080:8080
    depends_on:
      - db

  integration:
    build:
      context: .
      dockerfile: integration-test/Dockerfile
    container_name: integration
    image: integration
    environment:
      HOST: 'app:8080'
    depends_on:
      - app

volumes:
  pg-data: