version: "3.9"


x-db-environment: &x-db-environment
  POSTGRES_SSL_MODE: "disable"
  POSTGRES_HOST: "db"
  POSTGRES_PORT: "5432"
  POSTGRES_DB: "db"
  POSTGRES_PASSWORD: "myAwEsOm3pa55@w0rd"
  POSTGRES_USER: "user"

x-rabbitmq-variables: &x-rabbitmq-variables
  RABBITMQ_DEFAULT_USER: "guest"
  RABBITMQ_DEFAULT_PASS: "guest"


services:
  db:
    container_name: db
    image: postgres:18.2-alpine
    environment:
      <<: *x-db-environment
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      app_network:
        aliases:
          - db.lvh.me

  rabbitmq:
    container_name: rabbitmq
    image: rabbitmq:4.2.4-management
    environment:
      <<: *x-rabbitmq-variables
    ports:
      - "15672:15672"
      - "5672:5672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    networks:
      app_network:
        aliases:
          - rabbitmq.lvh.me

  nats:
    container_name: nats
    image: nats:2.12-alpine
    command: [ "-m", "8222", "-sd", "/nats-data", "-user", "guest", "-pass", "guest" ]
    ports:
      - "4222:4222"
      - "8222:8222"
    volumes:
      - nats_data:/nats-data
    networks:
      app_network:
        aliases:
          - nats.lvh.me

  # Translation service (HTTP :8080, gRPC :8081)
  app:
    container_name: app
    platform: linux/amd64
    pid: "host"
    build:
      context: .
      dockerfile: services/translation/Dockerfile
    env_file:
      - services/translation/.env
    ports:
      - "8080:8080"
      - "8081:8081"
    depends_on:
      - db
      - rabbitmq
      - nats
    deploy:
      resources:
        limits:
          cpus: '1.00'
          memory: '2Gb'
        reservations:
          cpus: '0.60'
          memory: '1Gb'
    networks:
      app_network:
        aliases:
          - app.lvh.me

  # Todo service (HTTP :8082)
  todo:
    container_name: todo
    platform: linux/amd64
    pid: "host"
    build:
      context: .
      dockerfile: services/todo/Dockerfile
    env_file:
      - services/todo/.env
    ports:
      - "8082:8082"
    depends_on:
      - db
    deploy:
      resources:
        limits:
          cpus: '1.00'
          memory: '2Gb'
        reservations:
          cpus: '0.60'
          memory: '1Gb'
    networks:
      app_network:
        aliases:
          - todo.lvh.me

  nginx:
    container_name: nginx
    image: nginx:1.29.5-alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    ports:
      - "80:80"
    depends_on:
      - app
      - todo
    networks:
      app_network:
        aliases:
          - nginx.lvh.me


networks:
  app_network:
    external: false


volumes:
  db_data:
  rabbitmq_data:
  nats_data:
